body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


header {
    background-color: #ffe2e2;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

h1 {
    color: #249c7c; 
    font-size: 30px;
    font-weight: bold; 
     margin: 0px;
  }


 h2 {
    color: #040000; 
    font-size: 20px; 
    font-weight: bold; 
     margin: 0px;
}

#nymap {
    height: 550px;
    width: 80%;
    margin: 20px auto;
}

.containertext {
    padding: 20px;
}

.container {
    width: 80%;
    background-color: #ffe2e2;
    padding: 10px 0px;
    border-radius: 8px;
    margin: 0 auto;
}

p {
    line-height: 1.2;
   
}

a {
    color: #0f6d1e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
